/node_modules
/public/build
/public/hot
/public/storage
/public/content
/public/mix-manifest.json
/public/vendor
/public/vue/*
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.idea
/.vscode
.DS_Store

storage/api-docs/api-docs.json
app/swagger.php
storage/api-docs
#ide helper
_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php
resources/views/vue/*
!resources/views/vue/.gitkeep

#test stuffs for individual devs
routes/test/*
!routes/test/.gitkeep
/app/Http/Controllers/TestController.php
tesmino.code-workspace
.phpimportsrc
/moodle-lk
/storage/mdlfile/*

/public/mdl/*
